################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Behavior/Strategy/DesignPatterns.Strategy/DesignPatterns.Strategy/obj
/src/Behavior/Strategy/DesignPatterns.Strategy/DesignPatterns.Strategy/bin/Debug/netcoreapp3.1
/src/Behavior/Strategy/DesignPatterns.Strategy/.vs/DesignPatterns.Strategy/v16
/src/Behavior/Composition/DesignPatterns.Composition/.vs/DesignPatterns.Composition/v16
/src/Behavior/Composition/DesignPatterns.Composition/DesignPatterns.Composition/bin/Debug/netcoreapp3.1
/src/Behavior/Composition/DesignPatterns.Composition/DesignPatterns.Composition/obj
/src/Behavior/Composition/DesignPatterns.Composition/DesignPatterns.Composition.Test/bin/Debug/netcoreapp3.1
/src/Behavior/Composition/DesignPatterns.Composition/DesignPatterns.Composition.Test/obj
/src/Behavior/Strategy/DesignPatterns.Strategy/.vs/DesignPatterns.Strategy/DesignTimeBuild
*.v2
